.step.steady(data-slide="steady")
  .number 02
  .glow
    .square-glow
  .illustrations
    .illustration
  h1.title
    .bold Steady
    | At All Times
  .texts
    p.text No matter where you are, Nodio protects you - 24 hours a day, 7 days a week. With a built-in 4 000 mAh battery and a 4G/LTE modem, it continues to deliver even during power outage.
