.step.tech(data-slide="tech")
  .number 05
  .glow
    .square-glow
  .illustrations
    .illustration
  h1.title
    .bold World-
      br
      | Changing
    | Technologies
  .texts
    p.text We use the most advanced existing security technologies like Blockchain, TOR and P2P to protect data on your devices from the external threats. Xana gives developers an opportunity to choose one of two pre-installed blockchains for their custom Nodio apps.
    .links
      a.link(href="#whitepaper") Whitepaper
      .delimiter
      a.link(href="#specs") Tech Specs
