@import "../variables.styl"

/* FAQ styles */
#faq
  absolute false 17px 35px false
  margin-right -2px
  z-index 100
  display block
  size 30px
  line-height 30px
  font-size 18px
  font-weight 600
  color rgba(23, 229, 178, 0.2)
  text-decoration none
  text-align center
  transition color 0.2s linear
  &:hover
    color rgba(23, 229, 178, 1)