@import "../variables.styl"

/* Next styles */
#next
  absolute false 0 30px
  z-index 5
  margin auto 
  size 18px
  transform rotate(45deg) translate(-19px,24px)
  border-right 1px solid rgba(23, 229, 178, 0.2)
  border-bottom 1px solid rgba(23, 229, 178, 0.2)
  cursor pointer
  transition border-color 0.2s linear
  &:hover
    border-color rgba(23, 229, 178, 1)