$ cat .gitignore
# Ignore node modules
node_modules/
# Ignore temporary directory
TMP/
# Ignore JetBrains directory
.idea/
# Ignore distribution directory
www/
# Ignore node link
/Node.lnk


# Ignore node link
/.phpintel
# Ignore node link
/src/php/send.php
