#modal-policy.modal
  .modal-content
    .heading Privacy Policy
    p.text Настоящая Политика конфиденциальности касается использования данного веб-сайта, который управляется компанией NODIO LTD, адрес центрального офиса: _______________.

    p.text Конфиденциальность имеет первостепенное значение в компании NODIO LTD. Мы понимаем значение защиты информации, которая хранится на наших компьютерах, и информации, которая предназначена для хранения на наших компьютерах, а также той, которая является индивидуальной.
      br
      | Данные, которые мы защищаем, являются «личными данными» - любая информация, касающаяся идентифицированного или идентифицируемого физического лица, которого иногда называют субъектом данных. Эта политика конфиденциальности информирует Вас о способах, которыми мы обеспечиваем конфиденциальность. Мы действуем в рамках действующих законов, что регулируют конфиденциальность в странах, в которых мы работаем. Эта политика описывает информацию, которую мы собираем, то, как мы можем использовать такую информацию и обстоятельства, при которых мы можем раскрывать такую ​​информацию третьим лицам.

    p.text Сбор личной информации

    p.text Когда вы получаете доступ/или право использовать веб-сайт или услуги, предлагаемые на нем, мы можем собрать некоторую информацию, в том числе:
    ul
      li Информацию, которую Вы можете предоставить нам: Ваш адрес электронной почты, адреса Bitcoin, мобильный телефонный номер, псевдоним, пароль, а также любая другая информация, которую Вы решили предоставить;
      li Информация о журнале: Мы можем регистрировать информацию об использовании услуг, включая тип браузера, который Вы используете, время доступа, просмотренные страницы, ваш IP-адрес и страницу, которую вы посетили до нашего веб-сайта.
      li Информацию об устройстве: Мы можем собирать информацию о мобильном устройстве, которое Вы используете, чтобы получить доступ к нашему мобильному приложению, в том числе аппаратной модели, и версию операционной системы, уникальный идентификатор и информацию о сети мобильной связи.
      li Информация, которую мы собираем из других источников: Мы также можем получать информацию от других источников и объединять ее с информацией, которую мы собираем самостоятельно. Например, когда Вы входите в нашу службу поддержки со стороннего сервиса, мы можем собирать информация о Ваших социальных страницах, где в соответствии с процедурами авторизации определяется информация, в том числе ваш открытый профиль, список друзей и электронный почтовый адрес. Любые сторонние сервисы могут собирать информацию, которая определяется их собственной политикой конфиденциальности.

    p.text NODIO LTD вправе размещать файлы cookie на этом веб-сайте. Файлы cookie - это небольшие файлы, которые загружаются на Ваш компьютер и помогают обеспечить нормальное и безопасное функционирование веб-сайта, и собирать информацию о продуктах, которыми интересуются посетители сайта, а также о навигации, которую они используют на веб-сайте.
      br
      | Любые персональные данные, собранные с помощью cookie будут обрабатываться в соответствии с этой Политикой конфиденциальности.
      br
      | Вы можете отказаться от cookie, выключив их в своем браузере, однако, Вы должны знать, что наш сайт, как и большинство других популярных сайтов, не может хорошо работать с отключенными сookie.

    p.text Использование и раскрытие персональных данных
      br
      | За исключением продажи части или всех активов NODIO LTD (в этом случае Вы будете, действовать согласно предварительного уведомление), NODIO LTD не будет использовать Ваши личные данные, если у нас нет Вашего согласия. Мы будем только использовать и / или раскрывать личные данные внутри страны для:
    ol
      li Понимания и удовлетворения Ваших потребностей и предпочтений;
      li Разработки новых и улучшения существующих услуг и продуктов;
      li Управление и развивать нашего бизнеса и проекта;
      li Выполнения любых целей, для которых мы получили Ваше согласие;
      li Выполнения правовых и нормативных требований.

    p.text Мы также оставляем за собой право использовать личные данные при условии, что эти данные не являются индивидуальными.

    p.text Персональные данные могут быть собраны, хранятся и/или обрабатываются поставщиками услуг, третьими лицами или компаниями в корпоративной структуре NODIO LTD для выполнения функций от нашего имени. Все эти третьи лица будут связаны договорными обязательствами для защиты данных в соответствии с нашей Политикой конфиденциальности.

    p.text За исключением случаев, когда мы обязаны по закону раскрывать личные данные, и когда мы освобождены или не обязаны обеспечивать конфиденциальность личных данных, мы будем требовать от любого человека, которому мы предоставляем Ваши персональные данные соблюдать нашу Политику конфиденциальности. Мы будем прилагать разумные усилия, чтоб убедиться, что они соответствуют такой политике или требованиям, однако, мы не будем нести никакой ответственности перед Вами, если мы не в состоянии сделать это.

    p.text Обработка
      br
      | Мы будем обрабатывать Ваши личные данные законно и справедливо и не использовать их вне целей, о которых мы сообщили Вам.

    p.text Безопасность Ваших личных данных
      br
      | Мы защищаем личные данные соответствующими физическими, технологическими и организационными гарантиями и мерами безопасности. Ваши личные данные приходят к нам через Интернет, который выбирает свои собственные маршруты и средства, посредством которых информация передается от одного места в другое. Таким образом, мы не можем дать никаких гарантий того, что средства, с помощью которых передается информация, безопасны и надежны. Мы производим аудит наших процедур и мер безопасности на регулярной основе, чтобы гарантировать, что они должным образом управляться и остаются эффективными и адекватными. Каждый участник NODIO LTD стремится к нашей политике конфиденциальности и процедуре для защиты личных данных. Наш веб-сайт имеет меры безопасности для защиты от потери, неправильного использования и несанкционированного изменения информации, находящейся под нашим контролем. Наш сервер использует защиту SSL (Secure Sockets Layer) и обеспечивает безопасность, путем шифрования Ваших персональных данных, коды доступа, имя и адрес, чтобы предотвратить людей от чтения этих данных, когда они перемещаются через Интернет. Время, на протяжении которого мы сохраняем личные данные за пределами нашей системы, варьируется в зависимости от цели, для которой она была собрана и использована. Этот период может выходить за пределы конца отношения с нами, но только до тех пор, о которых мы договорились, пока это необходимо для аудита или других целей бухгалтерского учета. Когда личные данные больше не нужны, у нас нет процедуры их уничтожения, удаления или преобразования в анонимной форме. Мы оставляем за собой право сохранить Ваши личные данные как часть нашего стандартного резервного копирования.

    p.text Хранение персональных данных
      br
      | Данные, предоставленные NODIO LTD, хранятся в соответствии с действующим законодательством, при условии, что это безопасные места в Европейском Союзе. NODIO LTD гарантирует соответствующие стандарты безопасности на месте, относительно сохранения объектов, конфиденциальности и безопасности данных. В отношении данных субъектов - резидентов ЕС, NODIO LTD, гарантирует, где это необходимо, регистры с соответствующей защитой данных на национальном уровне/защиту информации государственными органами. NODIO LTD также гарантирует, что данные хранятся в виде, который удовлетворяет требования любого национального законодательства, любого государства-члена Европейского Союза, вводящего в действие Директивы 95/46/EC. Директива предусматривает обязательства по защите физических лиц в отношении обработки персональных данных и свободы перемещении таких данных.

    p.text Согласие
      br
      | За исключением законных требований, мы не будем использовать или раскрывать Ваши личные Данные для любых целей, для осуществления которых Вы не дали согласие. Если Вы отзываете свое согласие, Вы принимаете, что, несмотря на отзыв Вашего согласия, мы можем продолжать использовать Ваши личные данные, которые были ранее предоставленные нам, в той степени, в которой мы юридически это обязаны сделать, и в том объеме, который необходим для обеспечения соблюдения каких-либо договорных обязательств, которые Вы можете иметь по отношению к NODIO LTD, или любым другим способом, разрешенным законом. Вы также понимаете, что, хотя Вы можете использовать наш веб-сайт для некоторых целей без предоставления личных данных, мы нуждаемся в некоторых личных данных, включая данные, связанные с оплатой или с участием в постоянных отношениях с NODIO LTD, или нашими партнерами. Если вы отказываетесь предоставить нам свои персональные данные, или позже отзываете свое согласие, мы больше не сможет быть в состоянии предоставить Вам определенные услуги.

    p.text Принятие
      br
      | Используя этот веб-сайт, Вы подтверждаете свое согласие с этой Политикой. NODIO LTD оставляет за собой право вносить изменения в эту Политику в любое время. Любые изменения будут размещены таким образом, чтобы Вы всегда знали, какую информацию мы собираем, как мы ее используем и при каких обстоятельствах мы ее раскрываем.

    p.text Вопросы
      br
      | Любые вопросы по поводу этой Политики, сбора, использования и раскрытия персональных данных NODIO LTD или доступа к Вашим личным данным, которые требуются по закону, подлежащие раскрытию, должны быть направлены на ____________.
