#modal-specs.modal
  .modal-content
    .specs-block.common

      .spec-heading Wireless
        .spec-param Bluetooth 
          span.details 4.2
        .spec-param IEEE 
          span.details 802.11 a/b/g/n/ac
        .spec-param Six-Element Beamforming Antenna Array
        .spec-param Concurrent Dual-Band 
          span.details 2.4 GHz + 5 GHz
        .spec-param ZigBee

      .spec-heading Compatibility
        .spec-param Up to 50 × 802.11 a/b/g/n/ac-enabled Wi-Fi devices
        .spec-param NAT, DHCP, PPPoE, VPN Passthrough 
          span.details (IPSec, PPTP, L2TP) 
        .spec-param DNS Proxy, IPv6 
          span.details (6to4, manual tunnels)

      .spec-heading Security
        .spec-param Wi-Fi Protected Access™ 
          span.details (WPA/WPA2) 2
        .spec-param WPA/WPA2 Enterprise 2
        .spec-param MAC Address Filtering
        .spec-param NAT Firewall
        .spec-param 802.1X, PEAP, LEAP, TTLS, TLS, FAST
        .spec-param Time-Based Access Control

    .specs-block

      .spec-heading CPU
        .spec-definition Intel Quad-Core
        .spec-value 2.1 GHz

      .spec-heading RAM
        .spec-definition LDDR3
        .spec-value 8 Gb 

      .spec-heading Capacity
        .spec-definition HDD
        .spec-value 500 Gb
        .spec-definition SSD
        .spec-value 8 Gb

      .spec-heading Power
        .spec-definition 1 × DV
        .spec-value 12V

      .spec-heading Battery 
        .spec-definition Li-ion
        .spec-value 4 000 mAh

      .spec-heading OS
        .spec-definition Custom Linux Based OS
        
    .specs-block

      .spec-heading Dimensions
        .spec-param 7.64” × 6.54” × 3.07”

      .spec-heading Weight
        .spec-param 2.08 lb

      .spec-heading Display
        .spec-param 49 × 49 LED Dots

      .spec-heading Interfaces
        .spec-param 2 × USB 3.0
        .spec-param 5 × Gigabit Ethernet LAN

      .spec-heading Input
        .spec-param 4.9” × 4.9” Touchscreen
        .spec-param 1 × Physical Button