#modal-terms.modal
  .modal-content
    .heading Terms of Use
    p.text Этот веб-сайт и связанные с ними услуги, являются собственностью, и управляются NODIO LTD.
      br
      | Вы признаете, что любое использование данного веб-сайта и любое использование наших услуг должно производиться в соответствии с настоящими Правилами предоставления услуг и использования (далее - Правила).
    ol.article
      li Общее
        ol
          li Мы оставляем за собой право изменять условия в любое время, по своему собственному усмотрению. Любые изменения в отношении использования Вами услуг вступит в силу с момента их публикации на веб-сайте. Если Вы предоставили нам адрес электронной почты, мы также будем уведомлять Вас по электронной почте об изменениях настоящих Правил.
          li Вы ответственны за внимательное прочтение Правил перед использованием сервисов. Ваше дальнейшее использование веб-сайта означает, что Вы берете на себя ответственность за соблюдение текущих Правил.
          li Неосуществление или промедление NODIO в исполнении или частичном исполнением условий настоящих Правил, не должно толковаться как отказ от каких-либо прав.

      li Определения
        ol
          li Все ссылки на «компанию», «нас», «наш», «мы» или «NODIO» означает NODIO LTD - компания, зарегистрированная в соответствии с законодательством ________, с долей капитала ___________ ____, имея свой зарегистрированный адрес: __________________, зарегистрированная в _____________________, под номером ___________. 
          li Все ссылки на "Вы", "Ваш" или "пользователь" означает лицо или лиц, которые используют веб-сайт и / или используют услуги через веб-сайт.
          li Все ссылки на «веб-сайт» включают в себя ссылку на все URL и управляются NODIO.
          li «Рабочий день» означает день недели, кроме праздничных дней, субботы или воскресенья, в ______________.
          li «Услуги» означает любую функцию, предоставленную нами через веб-сайт или другое локальное средство (рабочий телефон и другое), в том числе, без ограничения, информационные услуги NODIO.
          li «Коммуникация» включает в себя общение по электронной почте.
          li «Условный день получения» может быть только в рабочий день NODIO. Это значит, что день «коммуникации» является днем получения NODIO, если такое получение будет произведено в рабочие время NODIO - с 9:00 утра до 6:00 вечера часового пояса __________. В противном случае – в следующий рабочий день в 9:00 утра по ___________ времени.
          li «Форс-мажорные обстоятельства» означают любое событие вне контроля NODIO,  в том числе наводнение, чрезвычайные погодные условия, землетрясение или другое стихийное бедствие, огонь, война, восстания, бунт, трудовой спор, несчастный случай, действие правительства, сбой питания или оборудования или программный сбой.

      li Правомерность
        ol
          li Вы соглашаетесь и признаете, что: (а) достигли возраста дееспособности; (б) не были ранее лишены права использовать наши услуги.
          li Если Вы используете услуги от имени юридического лица, Вы заявляете и гарантируете, что: (а) юридическое лицо, должным образом организовано и действует под законодательством юрисдикции его организации, и (б) Вы являетесь уполномоченным лицом юридического лица.

      li Юрисдикция, территориальные ограничения и независимость
        ol
          li Настоящие Правила и порядок использования Вами веб-сайта и услуг, регулируется и толкуется в соответствии с законами _________. Любой спор, возникающий в связи с настоящими Правилами или Вашим использованием данным веб-сайтом или услугами, будет решаться исключительно в суде _________. Ничто в настоящих Правилах не должно рассматриваться как нарушения Ваших законных прав в соответствии с законодательством __________.
          li Если какая-либо часть настоящих Правил признается любым судом _________ недействительными или не имеющими законной силы, в целом или частично, эти условия и не должны быть затронуты при определении действительности или исковой силы других разделов. Любые заголовки, содержащиеся в настоящих Правилах, указаны только в информационных целях, и не подлежат исполнению.

      li Конфиденциальность и безопасность
        ol
          li Пожалуйста, смотрите нашу политику конфиденциальности:  https://_______________.
          li Мы прилагаем все усилия, чтобы принять все разумные меры для защиты Вашей личной информации. Тем не менее, мы не можем гарантировать безопасность любой информации, которую Вы предоставляете в Интернете. Вы принимаете собственные риски безопасности, предоставляя информацию в работе онлайн через Интернет, и мы не несем ответственность за любое нарушение безопасности, если это не связано с нашей неосторожностью.

      li Отвественность, ограниченая отвественность и убытки
        ol
          li Вы принимаете и признаете, что существуют риски, связанные с использованием нашего Кошелька Bitcoin, а также риск выхода из строя аппаратных средств, программного обеспечения и Интернет-соединения, риск вредоносного внедрения программного обеспечения, а также риск того, что третьи лица могут получить несанкционированный доступ к информации, хранящейся в Вашем Персональном Кабинете и нашем Кошельке. Вы принимаете и признаете, что NODIO не будет нести ответственность за любые ошибки связи, сбои, ошибки, искажения или задержки, которые могут возникнуть при использовании услуг.
          li Мы будем прилагать усилия, чтобы проверить достоверность любой информации на веб-сайте, но мы не делаем никаких заявлений или гарантий любого рода, явных или подразумеваемых законом или иным образом, в отношении содержания веб-сайта, информации и функций, доступных через веб-сайт, любых гиперссылок на веб-сайты третьих лиц, а также за любые нарушения безопасности, связанные с передачей информации через веб-сайт или через любой веб-сайт, связанный с помощью нашего веб-сайта.
          li Мы не будем нести ответственности за любые потери и не несем никакой ответственности перед Вами за использование наших услуг, в том числе, но не ограничиваясь этим, за любые потери, ущерб или претензии, возникающие из:
            ol.alpha
              li Ошибок пользователя, таких как забытые пароли, неправильно построенные транзакции или неправильно набранный адрес Bitcoin;
              li Отказа сервера или потери данных;
              li Поврежденные нашего Кошелька, файлов и другого в нем;
              li Несанкционированного доступа к Вашему Персональному Кабинету, нашему Кошельку, их взлома;
              li  Любых несанкционированных действий третьих лиц, в том числе, но без ограничения, использование вирусов, фишинга или других средств атаки на веб-сайт или услуги.
          li Мы не даем никаких гарантий, что сайт или сервер, который делает его доступным, свободны от вирусов или ошибок, что его содержание является точным, что оно будет непрерывным, или, что дефекты будут исправлены. Мы не будем нести ответственность за любые убытки любого рода, от действий, которые приняты или принимаются в зависимость от материала или информации, содержащейся на веб-сайте.
          li Мы не будем нести ответственность, исходя из договора или деликта (включая, без ограничения, халатность), кроме случаев, когда мы намеренно или умышленно ввели в заблуждение.
          li Ничто в настоящих Правилах не исключает или не ограничивает ответственность за смерть или телесные повреждения, вызванные небрежностью, намеренное введение в заблуждение, или любой другой ответственности, которая не может быть иным образом ограничена или исключена в соответствии с законодательством ____________.

      li Соглашение о безопасном хранении NODIO
        ol
          li Вы согласны с тем, чтобы ограждать NODIO (и каждого из наших должностных лиц, директоров, членов, сотрудников, агентов и афилированных лиц) от любых претензий, требований, действий, повреждений, потерь, затрат или расходов, включая без ограничения разумные судебные издержки, вытекающие с или в связи с:
            ol
              li Использованием или поведением в связи с использованием нашего веб-сайта,  услуг;
              li Любой обратной связью или материалами, которые Вы предоставляете (согласно п. 19 - ниже);
              li Вашим нарушением настоящих Правил;
              li Нарушением каких-либо прав любого другого физического или юридического лица.
          li Если Вы обязаны возместить нам, мы будем иметь право, по своему собственному усмотрению, контролировать любые действия или разбирательства (за наш счет) и определять, хотим ли мы урегулировать его.

      li Отсутствие ответственности за услуги третьих лиц и их содержание
        ol
          li При использовании наших служб, Вы можете просматривать содержимое или использовать услуги, предоставляемые третьими лицами, в том числе ссылки на веб-страницы и услуги третьих лиц. Мы не ведем контроль, и не будем нести ответственность за содержание услуг третьих лиц, включая услуги, которые могут ввести в заблуждение, быть неполными, ошибочными, оскорбительными, непристойными и т.д. для Вас. Кроме того, Ваши отношения или переписка с третьими лицами - исключительно между Вами и третьими лицами. Мы не несем ответственности за любые убытки или ущерб, возникший в результате таких операций, и Вы понимаете, что используете третьих лиц и взаимодействуете с третьими лицами на свой страх и риск.

      li Регистрация персонального кабинета
        ol
          li Если Вы хотите использовать Персональный Кабинет NODIO, Вы должны создать его на данном веб-сайте. При создании Персонального Кабинета Вам настоятельно рекомендуется принять следующие меры предосторожности (отказ предпринимать данные действия может привести к потере доступа и/или контроля над Вашим Персональным Кабинетом):
            ol.alpha
              li создать надежный пароль, который Вы не используете для любого другого веб-сайта или интернет-услуг;
              li предоставлять точную и достоверную информацию;
              li поддерживать и своевременно обновлять информацию;
              li поддерживать безопасность Вашего Персонального Кабинета, охраняя свой пароль к Персональному Кабинету и доступ к Вашему компьютеру и Вашему Персональному Кабинету;
              li незамедлительно сообщать нам обнаружения ли подозрения о каких-либо нарушениях безопасности, связанные с Вашим Персональным Кабинетом;
              li использовать функциональные возможности резервного копирования, чтобы защитить Ваши файлы так, как Вы бы защищали Вашу самую важную личную информацию.
          li При создании Персонального Кабинета мы определим Вам идентификатор (Персональный ключ), который необходимо будет сохранить для последующего доступа к Вашему Персональному Кабинету.
          li Вы соглашаетесь и признаете, что Вы берете на себя ответственность за все действия, которые происходят под Вашим Персональным Кабинетом и принимаете все риски, связанные с любым санкционированным или несанкционированным доступом к Вашему Персональному Кабинету, в максимально допустимой действующим законодательством степени.

      li Услуги NODIO
        ol
          li Услуги, помимо всего прочего, обеспечивают программное обеспечение в браузере (или локально), которое:
            ol.alpha
              li формирует и хранит информацию Вашего Персонального Кабинета;
              li Предоставляет данные транзакций Биткоин.
          li Кошелек и Персональный Ключ. Персональный Ключ подходит только к  Персональному кабинету и должен быть использован для передачи биткоинов по адресу Кошелька NODIO. Вы несете полную ответственность за обеспечение безопасности Персонального Ключа и Вашего Кошелька. Вы должны держать адрес Вашего Кошелька и доступ к нему, а также Персональный Ключ в ограниченном информационном доступе. Несоблюдение этого правила может привести к потере контроля над биткоинами и другими благами (правами и т.д.), связанными с Вашим Персональным Кабинетом.
          li Восстановления Персонального Ключа отсутствует. NODIO не получает и не хранит Ваш Персональный Ключ к Вашему Персональному Кабинету. Таким образом, мы не можем помочь Вам с восстановлением Персонального Ключа. Наши службы предоставляют Вам механизмы, которые помогут Вам вспомнить или восстановить свой Персональный Ключ, в том числе, позволяя установить подсказки для Персонального Ключа, но службы не могут создать новый пароль для Вашего Персонального Кабинета. Вы несете полную ответственность за запоминание Персонального Ключа для Вашего Персонального Кабинета. Если Вы не безопасно храните резервные копии Ваших файлов и Персонального Ключа, Вы принимаете и подтверждаете, что любые биткоины и другие права, которые Вы связали с Вашим Персональным Кабинетом, могут стать недоступными, если у Вас отсутствует Персональный Ключ для Персонального Кабинета.
          li Сделки. Для того чтобы сделка была завершена, все предполагаемые перечисления биткоинов должны быть подтверждены и зарегистрированы в публичном регистре Биткоинов через единую сеть распространения Биткоинов (платежная одноранговая сеть, которая работает на криптографическом протоколе), которая не является собственностью, контролируемой или управляемой NODIO. Сеть Биткоинов управляется децентрализованной сетью независимых третьих лиц. NODIO не имеет никакого контроля над сетью битконов и, следовательно, не может и не гарантирует, что любые детали Ваших сделок будут подтверждены через сеть Биткоинов. Вы признаете и соглашаетесь с тем, что сделки, детали которых Вы предоставляете могут быть не завершены или могут быть задержаны сетью Биткоинов.
          li Отсутствие хранения и контроля передачи Биткоинов. Службы NODIO не хранят, не передают или принимают Битконы. Любая передача права собственности, которая может производиться согласно условий лица, которое предоставляет доступ и обслуживание Вашего Кошелька, но никогда – через службы NODIO. Мы не гарантируем, что служба может осуществлять передачу права собственности или права в Биткоинах.
          li Отношения. Ничего в этих Правилах не подразумевает и не должно создавать какие-либо партнерства, совместные предприятия, агентства, консалтинговые компании или попечительства, Вы и NODIO находитесь по отношению друг к другу независимыми контрагентами.
          li Точность информации. Вы заявляете и гарантируете, что любая информация, предоставленная Вами, является точной и полной. Вы принимаете и признаете, что NODIO не несет ответственности за любые ошибки или упущения, которые Вы делаете в связи с какой-либо сделкой, например, если Вы ошиблись при вводе адреса Кошелька или иным образом предоставляете неправильную информацию. Мы настоятельно рекомендуем Вам внимательно изучить детали Вашей сделки до ее завершения.
          li Отсутствие аннулирования и модификации. После того, как детали сделки подтверждены Вами, службы NODIO не могут Вам помочь произвести отмену или иным образом изменить детали Вашей сделки. NODIO не контролирует передачу Биткоинов и не имеет возможности аннулировать или модифицировать сделку.
          li Налоги. Это Ваша ответственность, чтобы определить, какие налоги относятся к сделкам, и это Ваша обязанность сообщать и перечислять налог в соответствующий налоговый орган. Вы согласны, что NODIO не несет ответственности за определение того, применяются ли налоги на Вашу сделку и потребуется ли сбор, подготовка и подача отчетности по налогам, возникающим из любых сделок.

      li Плата за использование NODIO ​​услуг
        ol
          li Платежи компании. Создание Персонального Кабинета является бесплатным. NODIO в настоящее время не взимает плату за любые услуги, однако мы оставляем за собой право сделать это в будущем, и в таком случае любой применимые сборы будут отображаться перед Вами с помощью каких-либо услуг, к которым применяется плата.

      li Прекращение услуг
        ol
          li Мы можем по своему собственному усмотрению и предупреждению, в любое время, изменять или прекращать, временно или постоянно, любую часть наших услуг. Вы несете полную ответственность за хранение резервного копирования любого Вашего Персонального Кабинета и Персональных Ключей.
          li Если Вы не поддерживаете резервную копию Ваших данных за пределами услуг Персонального Кабинета, то у Вас может не быть доступа информации, хранящейся в нем в случае прекращения или приостановления услуг.
          li Мы можем приостановить или прекратить доступ к услугам по своему собственному усмотрению, немедленно и без предварительного уведомления, а также удалить или отключить Ваш Персональный Кабинет и все связанные файлы в том случае, если Вы нарушили любое из этих Правил.

      li Приемлемое использование
        ol
          li При доступе или пользовании услуг, Вы соглашаетесь, что Вы не будете совершать какие-либо незаконные действия, и что Вы несете полную ответственность за свои действия во время использования наших услуг. В связи со всем вышеизложенным, Вы соглашаетесь, что Вы не будете:
            ol
              li Использовать наши услуги способом, который может помешать, сорвать, отрицательно повлиять или препятствовать другим пользователям, в полной мере пользоваться нашими услугами, или может повредить, отключить, перегрузить или нарушить функционирование наших услуг в любом виде;
              li Использовать наши услуги, чтобы любым образом участвовать в какой-либо незаконной деятельность, в том числе мошенничестве, отмывание денег или террористической деятельности.
              li Использовать или питаться использовать Персональный Кабинет или Персональный Ключ другого пользователя;
              li Пытаться открыть доступ к услугам или области наших услуг, которые закрыты для доступа;
              li Внедрять к обслуживанию вирус, логические бомбы или другой вредные материалы;
              li Разрабатывать любые сторонние приложение, которые взаимодействуют с нашими услугами без нашего предварительного письменного согласия;
              li Предоставлять ложную, неточную или вводящую в заблуждение информацию;
              li Поощрять или побуждать какое-либо третье лицо участвовать в какой-либо запрещенной деятельности в соответствии с настоящим разделом.

      li Права интеллектуальной собственности
        ol
          li Если не указано иное, все права на интеллектуальную собственность на сайте и любой контент, предоставляемый в связи с нашими услугами, являются собственностью NODIO или наших лицензиаров, поставщиков, и защищен соответствующими законами об интеллектуальной собственности. Мы не даем каких-либо лицензий на использование содержимого веб-сайта.
          li Вы принимаете и подтверждаете, что материал и содержание на веб-сайте становится доступным для личного, законного, некоммерческого использования, и что Вы можете только использовать такой материал и содержание с целью использования веб-сайта. Кроме того, Вы должны иметь в виду, что любое другое использование материалов с веб-сайта строго запрещено, и Вы соглашаетесь не нарушать или не позволять другим нарушать наши права интеллектуальной собственности.
          li Вы согласны с тем, чтобы сохранить все авторские права и другие права собственности на материалы, содержащиеся в пределах веб-сайта от любой копии, и возможного ущерба правам на интеллектуальную собственность NODIO.
          li Вы не можете продавать или изменять материалы веб-сайта или воспроизводить, публично исполнять, распространять или иным образом использовать материалы, любым способом, для любых общественных или коммерческих целей. Использование материалов на любом другом веб-сайте или совместное использование файлов или аналогичного сервиса для любых целей запрещается.
          li Вы не можете копировать материалы или контент, содержащиеся на веб-сайте, или доступный через веб-сайт, без нашего письменного разрешения. Любые права, не предоставленные в настоящем документе на использование материалов, содержащиеся на сайте, защищены NODIO в полном объеме.

      li Отзывы и пользовательськие реккомендации
        ol
          li NODIO постоянно совершенствует свои услуги и веб-сайт. Если у Вас есть идеи или предложения, касающиеся улучшения или дополнения к обслуживанию NODIO или веб-сайта, NODIO хотел бы услышать их. Тем не менее, любые рекомендации будут подлежать этим условиям.
          li Запрещается раскрытие идей и отзывов, а также связанных с NODIO материалов, дочерних компаний и афилированных компаний, должностных лиц, директоров, менеджеров, членов, акционеров, сотрудников и агентов, наследников, правопреемников, представителей. Вся вышеуказанная информация подвергается под обязательство по соблюдению конфиденциальности.
          li Все Ваши идеи и рекомендации, что являются объектом прав интеллектуальной собственности, Вы передаете NODIO для коммерческого использования  (представляете неисключительное бессрочное по всему миру право на использование). Кроме того, Вы отказываетесь от любых моральных прав в максимально допустимой степени в соответствии с законодательством ___________. 
          li Вы также признаете, что NODIO может использовать работы и материалы, которые Вы предложили.
          li Мы имеем право удалить любое объявление на веб-сайте без предупреждения и объяснения причин.

      li Связь с нами
        ol
          li Вы можете связаться с нами, используя следующие способы общения: _________
            ol
              li Для любых других целей, кроме запросов технической поддержки: по почте -заказным письмом или курьерской доставкой:
                br
                | NODIO LTD 
                br
                | __________________
                br
                | ____________________
              li Для запросов на техническую поддержку: отправляйте запрос с помощью нашего инструмента поддержки по адресу: https://______________________
          li Любое сообщение, отправленное нам, будет считаться полученным в соответствии с п. 2.7. 

      li Форс-мажор
        ol
          li Если по причине форс-мажорных обстоятельств, либо Вы, либо NODIO не выполняют данные Правила, такое невыполнение не должно считаться нарушением настоящих Правил и не должно нести за собою ответственность. 

      li Природа соглашения
        ol
          li Настоящие Правила представляют собой полное соглашение между Вами и NODIO в отношении к предмету настоящих Правил и эти условия отменяют и замещают любые предшествующие соглашения между Вами и NODIO.
            br
            | Вы не можете передавать какие-либо из своих прав или обязательств в соответствии с настоящими Правилами без нашего предварительного письменного согласия.