doctype html
html
  head
    include assets/head.pug
  body
    include ../images/svg-sprite.pug
    .background
      include pages/modal/modal.pug
      .content
        include media/audio.pug
        include media/video.pug
        include navigation/sidebar.pug
        include navigation/pagination.pug
        include navigation/faq.pug
        .container
          include pages/product.pug
          include pages/product-router.pug
          include pages/product-steady.pug
          include pages/product-open.pug
          include pages/product-design.pug
          include pages/product-tech.pug
          include pages/xana.pug
          include pages/apps.pug
          include pages/team.pug
          include pages/contacts.pug
          include navigation/next.pug