#product.page
  .filler.steady
    h1 Steady
    p No matter where you are, Nodio protects you - 24 hours a day, 7 days a week. With a built-in battery, it continues to work even during power outage.
  .filler.simple
    h1 Simple
    p Configure your network in just a few obvious steps. It's incredibly simple to connect your device to Nodio and start using its applications, no technical background needed.
  .filler.open_source
    h1 Open-source
    p To show that our company is completely transparent, we have opened our source code for everyone. This gives an opportunity for every developer to build his own solution based on the Nodio platform.
  .filler.decentralization
    h1 Decentralization
    p Nodio is decentralized from the general Internet network. It allows us to protect all data on your devices from the external threats and hacking attacks.