/* Common styles */
html
body
  width 100%
  min-height 100%
  font-family roboto
  font-size font-size
  color text-color
  background-color background-color
body
  font-family "ProximaNova"
  font-size 12px
  overflow hidden
  & > svg
    size 0

svg
  size 100%
  display block
  fill inherit
