/* Common styles */
html
body
  width 100%
  min-height 100%
  font-family "ProximaNova"
  font-size font-size
  font-weight 300
  color text-color
  background-color background-color
  text-shadow 0 0 #000
body
  overflow hidden
  text-rendering optimizeLegibility
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale
  letter-spacing letter-spacing
  & > svg
    size 0

svg
  size 100%
  display block
  fill inherit
