/* Styles */
html
body
  width 100%
  min-height 100%
  font-family roboto
  font-size font-size
  color text-color
  background-color background-color
body
  font-family "ProximaNova"
  font-size 12px
  overflow hidden
  & > svg
    size 0

svg
  size 100%
  display block
  fill inherit

header
  absolute 30px false false 50px
  z-index 3
  font-size 12px
  
  dl
    text-transform uppercase
    line-height line-height
    
  dt
  dd
    display inline-block
    vertical-align top
  dt
    width 100px

.content
  absolute 0 0 110px

footer
  width 100%
  absolute false 0 50px 0
  z-index 2
  text-align center
  line-height line-height
  text-transform uppercase
  
  p
    width 150px
    display block
    margin auto