/* Footer styles */
footer
  width 100%
  absolute false 0 50px 0
  z-index 2
  text-align center
  line-height line-height
  text-transform uppercase
  
  p
    opacity .75
    display block
    margin auto