@import "variables.styl"

/* Footer styles */
footer
  width 100%
  absolute false 0 50px 0
  z-index 2
  text-align center
  text-transform uppercase
  
  p
    padding 8px 0
    opacity .75
    display block
    margin auto
    line-height $footer-font-size
    font-size $footer-font-size