@import "variables.styl"

/* Header styles */
header
  absolute 30px false false 50px
  z-index 3
  font-size 12px
  
  dl
    text-transform uppercase
    line-height 12px
    padding 14px 0
    
  dt
  dd
    display inline-block
    vertical-align top
    opacity 0.3
  dt
    width 110px
  dd
    &.percent
      opacity 0.7
    
