@import "kouto-swiss"
ks-support-ie = 8
meyer-reset()

@import "assets/fonts"
@import "assets/common"
@import "assets/content"
@import "assets/logo"
@import "assets/print_charactrs"

@import "media/audio"
@import "media/preloader"
@import "media/video"

@import "navigation/sidebar"
@import "navigation/pagination"
@import "navigation/next"
@import "navigation/faq"

@import "pages/product"
@import "pages/xana"
@import "pages/apps"
@import "pages/team"
@import "pages/contacts"