@import "variables.styl"

.print
  visibility hidden
.print-character  
  letter-spacing: 1.5px;
  relative false
  &.placeholder
    visibility hidden
  .placeholder
    absolute false 0
    visibility visible
    