@import "variables.styl"

/* Sidebar styles */
.sidebar
  size 210px 100%
  absolute 0 false 0 0
.menu
  margin-top 121px
  margin-left 59px
  .menu-item
    height 29px
    margin-top 31px
  .menu-link
    display inline-block
    size auto 100%
    min-width 10px
    padding 0 10px
    relative false
    color #FFF
    line-height 29px
    text-decoration none
    text-align left
    text-transform uppercase
    transition width 0.2s linear,
               background-color 0.2s linear
    .line
      absolute false 0 0
      size 100% 1px
      display block
      background-color rgba(255, 255, 255, 0.2)
      &:before
      &:after
        content ''
        absolute 0 false
        size 1px
        background-color #fff
      &:before
        left 0
      &:after
        right 0
    &.active
      min-width 40px
    &.active
      color rgba(23, 229, 178, 1)
      cursor default
      .line
        background-color rgba(23, 229, 178, 0.2)
        &:before
        &:after
          background-color rgba(23, 229, 178, 1)
          
    &.join
      relative false
      size 60px 30px
      padding 0
      text-align center
      text-transform uppercase
      line-height 33px
      color rgba(23, 229, 178, 1) !important
      border 1px solid rgba(23, 229, 178, 0.2)
