@import "kouto-swiss"
@import "variables.styl"
meyer-reset()

/* Fonts */
// 100 Extra Light or Ultra Light
// 200 Light or Thin
// 300 Book or Demi
// 400 Normal or Regular
// 500 Medium
// 600 Semibold, Demibold
// 700 Bold
// 800 Black, Extra Bold or Heavy
// 900 Extra Black, Fat, Poster or Ultra Black
// font-face("Montserrat", "../fonts/Montserrat-Regular", 400, normal, formats: eot otf svg ttf woff)

/* Styles */
html
body
  width 100%
  min-height 100%
  font-family roboto
  font-size font-size
  color text-color
  background-color background-color
body
  & > svg
    size 0

svg
  size 100%
  display block
  fill inherit

header
  absolute 30px false false 50px
  
  dl
    text-transform uppercase
    line-height line-height
    
  dt
  dd
    display inline-block
    vertical-align top
  dt
    width 100px
    
  
footer
  width 100%
  absolute false 0 50px 0
  text-align center
  line-height line-height
  text-transform uppercase
  

