background-color = #000
text-color = #777
logo-color = #fff
progress-color = #fff
square-borser-color = #1be0e0;

font-size = 14px
line-height = 30px

logo-transition-time = .3s
square-transition-time = 1.3s