$background-color = #000
$text-color = #fff
$logo-color = #fff
$progress-color = #fff
$logo-color = #fff
$square-border-color = #1be0e0

$font-size = 12px
$header-font-size = 12px
$header-line-height = 18px
$footer-font-size = 12px
$letter-spacing = 2px

$preloader-logo-point-big = 6px
$preloader-logo-point-medium = 5px
$preloader-logo-point-small = 3px

$preloader-logo-size = 85px
$preloader-logo-inner-size = 18px
$preloader-logo-medium-size = 40px
$preloader-logo-outer-size = 62px

$preloader-logo-border-size = 2px

$preloader-logo-transition-time = .3s
$square-transition-time = 1.3s

$menu-transition-time = .5s
$menu-line-transition-time = .3s

$step-transition-time = .3s

$product-title-transition-time = .3s
$product-illustrations-opacity-time = .3s
$product-illustrations-transform-time = .3s
$product-illustrations-delay = .3s
$product-illustration-1-opacity-time = .3s
$product-illustration-1-delay = .9s
$product-illustration-2-opacity-time = .3s
$product-text-opacity-time = .3s
$product-text-delay = .9s