$background-color = #000
$text-color = #fff
$logo-color = #fff
$progress-color = #fff
$logo-color = #fff
$square-border-color = #1be0e0

$font-size = 12px
$header-font-size = 12px
$header-line-height = 18px
$footer-font-size = 12px
$letter-spacing = 2px

$logo-point-big = 6px
$logo-point-medium = 5px
$logo-point-small = 3px

$logo-size = 85px
$logo-inner-size = 18px
$logo-medium-size = 40px
$logo-outer-size = 62px

$logo-border-size = 2px

$logo-transition-time = .3s
$square-transition-time = 1.3s