svg#svg-sprite(
  version='1.0',
  xmlns='http://www.w3.org/2000/svg',
  xmlns:xlink='http://www.w3.org/1999/xlink',
  xml:space='preserve'
)
  symbol#rect(viewbox='0 0 60 60')
    rect(x="0", y="0", width="60", height="60")
  symbol#logo(viewbox='0 0 60 60')
    path(d='M94.503,31.44l-4.344-5.934h-1.53v8.548h1.491v-6.1l4.435,6.1h1.439v-8.548h-1.491V31.44z')
    path(d='M106.868,25.366c-2.549,0-4.344,1.87-4.344,4.421c0,2.55,1.795,4.42,4.344,4.42c2.547,0,4.344-1.87,4.344-4.42 C111.212,27.236,109.415,25.366,106.868,25.366z M106.868,32.876c-1.721,0-2.816-1.333-2.816-3.088c0-1.769,1.095-3.09,2.816-3.09 c1.707,0,2.815,1.321,2.815,3.09C109.683,31.542,108.575,32.876,106.868,32.876z')
    path(d='M120.916,25.507h-3.16v8.548h3.16c2.65,0,4.446-1.756,4.446-4.267C125.361,27.275,123.565,25.507,120.916,25.507z M120.916,32.735h-1.669v-5.908h1.669c1.898,0,2.918,1.307,2.918,2.961C123.833,31.401,122.763,32.735,120.916,32.735z')
    path(d='M131.904,34.054h1.491v-8.548h-1.491V34.054z')
    path(d='M144.266,25.366c-2.549,0-4.344,1.87-4.344,4.421c0,2.55,1.796,4.42,4.344,4.42c2.547,0,4.344-1.87,4.344-4.42 C148.611,27.236,146.814,25.366,144.266,25.366z M144.266,32.876c-1.721,0-2.816-1.333-2.816-3.088c0-1.769,1.095-3.09,2.816-3.09 c1.707,0,2.815,1.321,2.815,3.09C147.081,31.542,145.973,32.876,144.266,32.876z')
    path(d='M0,30l30,30l30-30L30,0L0,30z M30,1.954L48.375,20.33L37.116,31.589l-14.66-14.674v10.372L10.849,38.894L1.954,30L30,1.954 z M30,58.046L11.826,39.871l11.203-11.203l14.513,14.418v-9.968l11.811-11.811L58.046,30L30,58.046z')