#apps.page(data-title="Apps")
  .page-content
    .left-side
      h1.header Apps

      p.text Very soon you will experience the safety and comfort of our native apps. 
        a.menu-link.link(href="#contacts") Subscribe
        |  to our newsletter and we will notify you upon their launch.

      p.text In case you want to develop your own app on Xana and need more information about the platform - please 
        a.menu-link.link(href="#contacts") contact us
        | . We will be more than glad to help you.

    .illustration
      .left-capture Safe Messenger
      .center-capture Nodio Control Center
      .right-capture Crypto Exchange

    include ../navigation/next.pug