#product-open.page(data-title="Product: Open-sourced")
  .number 03
  .glow
    .square-glow
  .illustrations
    .illustration
  h1.title
    .bold Open-
    | Sourced
  .texts
    p.text We built our solution on a custom Linux OS and left a source code open for everyone to show that it's completely transparent and there are no pitfalls or hazards to your privacy. Every developer can build his own solution, based on the Xana platform.