#product-router.product.page(data-title="Product: Router")

  .page-header
    .number 01
    
  .page-content
    .illustrations
      .illustration.device
      .illustration.border
        
  .page-footer
    h1.title Better Than A
      .bold Router
    p.text While Nodio delivers the Internet to your devices on the highest speed, it also protects them. Your connections run through Nodio even when you are using public WIFI spots outside.

    include ../navigation/next.pug