#product-design.product.page(data-title="Product: Intuitively designed")

  .page-header
    .number 04
    
  .page-content
    .illustrations
      .illustration.device
      .illustration.border

  .page-footer
    h1.title
      .bold Intuitively
      | Designed
    p.text Our device is built from high-quality materials and equipped with an energy saving LED display. Configure your network in just a few taps or via a user-friendly app. It's incredibly simple to connect your device to Nodio, no technical background needed.

    include ../navigation/next.pug