#product.page(data-title="Product")
  include product/product-intro.pug
  include product/product-router.pug
  include product/product-steady.pug
  include product/product-open.pug
  include product/product-design.pug
  include product/product-tech.pug