#product.page(data-title="Product: Meet your digital guardian")
  .illustrations
    .illustration.slide-3
    .illustration.slide-2
    .illustration.slide-1
  h1.title Meet your digital 
    .bold guardian
      .dot
  .texts
    p.subtitle Nodio is a unique device
      br
      | with a mission to keep you, your data and your possessions safe.
 
    p.text It is a secured, blockchain-based router that works with the applications developed on Xana platform. 
      br
      | The main advantage of Nodio is in the decentralized structure, which protects its users from online threats.