#product-router.product.page(data-title="Product: Router")
  .number 01
  .glow
    .square-glow
  .illustrations
    .illustration
  h1.title Better Than A
    .bold Router
  .texts
    p.text While Nodio delivers the Internet to your devices on the highest speed, it also protects them. Your connections run through Nodio even when you are using public WIFI spots outside of your home or office.

    include ../navigation/next.pug