#product-open.product.page(data-title="Product: Open-sourced")

  .page-header
    .number 03
    
  .page-content
    .illustrations
      .illustration.device
      .illustration.border
        .line.top
        .line.bottom
        
  .page-footer
    .texts
      h1.title The Era
        .bold Of DApps
      p.text Nodio works with open-source decentralized blockchain-based applications developed on its native Xana platform, which can be written in any programming language.

    include ../navigation/next.pug