#xana.page(data-title="Xana")
  .page-content
    h1.header
      svg
        use(xlink:href="#xana-title")
    p.text-right Xana is a revolutionary platform for decentralized blockchain-based applications brought to your phone by Nodio. From now on every application can be based on Bitcoin blockchain, Ethereum, Ethereum classic or any other blockchain. Digital safety has never been closer.
    p.subheader See the 
      span.bold variety of possibilities
      |  open for Xana apps:
    .features
      .feature
        h2.title Finance
        p.text Endless possibilities for a financial sector with P2P lending services and transactions. Create a custom wallet and use it on your phone, while the funds are safely stored in your Nodio.
      .feature
        h2.title Serverless
        p.text Tons of solution with no vulnerable central unit - imagine a messenger or a cryptocurrency marketplace that has no server, but is still super easy to use. Your data is shared strictly between your devices, no third party interference.
      .feature
        h2.title Safe Internet
        p.text Looking for the entirely safe browser secured from malvertising, phishing, and other scams - create your own and use it with Nodio. Personal VPN will protect you from sharing metadata.
      .feature
        h2.title IoT
        p.text Stop worrying that your home security system or nanny cam gets hacked. Create the safest app for managing your smart home and use it on your phone, tablet or smartwatch.
      .feature.illustration
        .illustration
      .feature
        h2.title Personal ID
        p.text Unlimited opportunities for the most precise personal identification. Its level of security is so advanced that it can serve as an ID at elections, not to mention digital documentation signature and user ID.

    include ../navigation/next.pug