#pagination
  a.pagination-item(href="#product")
    svg
      use(xlink:href="#pagination")
  a.pagination-item(href="#product-router")
    svg
      use(xlink:href="#pagination")
  a.pagination-item(href="#product-steady")
    svg
      use(xlink:href="#pagination")
  a.pagination-item(href="#product-open")
    svg
      use(xlink:href="#pagination")
  a.pagination-item(href="#product-design")
    svg
      use(xlink:href="#pagination")
  a.pagination-item(href="#product-tech")
    svg
      use(xlink:href="#pagination")