#pagination
  a.pagination-item(href="#product")
    .point.center
    .point.top.left
    .point.top.right
    .point.bottom.left
    .point.bottom.right
  a.pagination-item(href="#product-router")
    .point.center
    .point.top.left
    .point.top.right
    .point.bottom.left
    .point.bottom.right
  a.pagination-item(href="#product-steady")
    .point.center
    .point.top.left
    .point.top.right
    .point.bottom.left
    .point.bottom.right
  a.pagination-item(href="#product-open")
    .point.center
    .point.top.left
    .point.top.right
    .point.bottom.left
    .point.bottom.right
  a.pagination-item(href="#product-design")
    .point.center
    .point.top.left
    .point.top.right
    .point.bottom.left
    .point.bottom.right
  a.pagination-item(href="#product-tech")
    .point.center
    .point.top.left
    .point.top.right
    .point.bottom.left
    .point.bottom.right