#audio-block
  a.menu-link.join(
    href="#contacts"
  ) Join
    .point.top.left
    .point.top.right
    .point.bottom.left
    .point.bottom.right

  .audio_switcher
    .vizualizer-bar
    .vizualizer-bar
    .vizualizer-bar
    .vizualizer-bar
    .vizualizer-bar
    .vizualizer-bar
    .vizualizer-bar
    .vizualizer-bar
  audio#audio(
    loop
    preload="auto"
  )
    source(
      src="media/background.mp3"
      type="audio/mpeg"
    )