@import "../variables.styl"

/* Common styles */
html
body
  width 100%
  height 100%
  min-height 100%
  font-family "ProximaNova"
  font-size $common-body-font-size
  font-weight 300
  color $common-body-text-color
  background-color $common-body-background-color
body
  // text-rendering optimizeLegibility
  -webkit-font-smoothing antialiased
  // -moz-osx-font-smoothing grayscale
  -webkit-backface-visibility hidden
  letter-spacing $common-body-letter-spacing
  &.preloader-mode
    overflow hidden
svg
  size 100%
  display block
  fill inherit
  &#svg-sprite
    width 0
    height 0
    overflow hidden
    
button
input
textarea
  font-family inherit
  
.bold
  font-weight 700
  
.dot
  display inline-block
  size 6px
  margin-left 4px
  background-color $common-dot-background-color
  transform rotate(45deg)

.point
  absolute false
  size 1px
  background-color $common-point-background-color
  &.top
    top -1px
  &.bottom
    bottom -1px
  &.left
    left -1px
  &.right
    right -1px
  &.center
    absolute 0
    margin auto
    

.links
  display block
  margin-top 55px
  .link
    font-size $common-link-font-size
    font-weight 300
    letter-spacing 1px
    text-decoration none
    color $common-link-color
    border-bottom 1px solid $contacts-button-border-color
    transition border-color $transition-time linear
    &:hover
      border-color $common-link-color
  .delimiter
    size 1px 11px
    margin 0 50px
    background-color $common-delimiter-background-color
    display inline-block


.glow
  overflow hidden
  &:after
  &:before
    content ''
    absolute 0
    margin auto
  &:after
    size 100vmax
    background-image radial-gradient(circle at center, rgba(23, 230, 178, 0.08) 0%, transparent 100%)
  &:before
    size 70.8vmax
    transform rotate(45deg)
    box-shadow inset 0 0 25vmax 6vmax #000
    background-color rgba(23, 230, 178, 0.05)