@import "../variables.styl"

/* Content styles */
.container
  relative false
  width 841px
  min-height 736px
  margin auto
  padding 0 60px 0 119px
  transition width 0.3s linear,
             padding-left 0.3s linear,
             padding-right 0.3s linear
  .preloader-mode &
    overflow hidden
  .navigation
    absolute 0 0 false
  
  .pages
    size 100%
    min-height 100vh
    relative false
.page-footer
  padding-bottom 37px
  
.page-content
  &:before
  &:after
    content ''
    display block
    size 100% 0
    transition height 0.2s linear

#sidebar
.page
  opacity 0
  max-height 0
  transition opacity $content-show-transition-time linear,
             max-height 0s linear $content-show-transition-time,
             overflow 0s linear $content-show-transition-time
  &.show
    opacity 1
    max-height 10000px
    transition opacity $content-show-transition-time linear,
               max-height 0s linear,
               overflow 0s linear
#sidebar
  &.show
    z-index 2
.page
  overflow hidden
  relative false
  box-sizing border-box
  &.show
    z-index 1
    overflow visible
  p
    text-align left

.blink.show
  animation blink $content-blink-animation-time linear forwards
  
+media-query(only screen, max-width $mobileWidth)
  .container
    width 100%
    max-width 841px
    padding 0
    .navigation
      fixed 0 0 false
      z-index 2
      size 100% 60px
      background-image url('~images/background.svg'), linear-gradient(180deg, rgba(0,0,0,1),  rgba(0,0,0,1) 70%,  rgba(0,0,0,0))
      background-position 50% 8px, 0 0
      background-size 60px 60px, 100% 100%
      background-repeat repeat, no-repeat
    .navigation-content
      absolute 7px 0 0
      margin auto 