@import "../variables.styl"

/* Content styles */
  
.container
  relative false
  width 841px
  margin auto
  min-height 100%
  padding 0 60px 0 119px
  transition padding-left 0.3s linear,
             padding-right 0.3s linear
  .preloader-mode &
    overflow hidden
  
  .pages
    size 100%
    min-height 100vh
    relative false
.page-footer
  padding-bottom 37px
  
.page-content
  &:before
  &:after
    content ''
    display block
    size 100% 0
    transition height 0.2s linear

#sidebar
.page
  opacity 0
  max-height 0
  overflow hidden
  transition opacity $content-show-transition-time linear,
             max-height 0s linear $content-show-transition-time,
             overflow 0s linear $content-show-transition-time
  &.show
    opacity 1
    z-index 1
    overflow initial
    max-height 10000px
    transition opacity $content-show-transition-time linear,
               max-height 0s linear,
               overflow 0s linear
.page
  overflow-y hidden
  // overflow-x hidden !important
  relative false
  box-sizing border-box
  p
    text-align left

.blink.show
  animation blink $content-blink-animation-time linear forwards