@import "../variables.styl"

/* Content styles */
.background
  relative false
  width 100%
  background-image url('~images/background.svg')
  background-position 50% 0
  background-size 60px 60px
  background-repeat repeat
  
.content
  relative false
  width 841px
  margin auto
  min-height 100%
  padding 0 60px 0 119px
  transition padding 0.3s linear
  .preloader-mode &
    overflow hidden
  
  .container
    size 100%
    min-height 100vh
    relative false
    

#sidebar
.page
  opacity 0
  max-height 0
  overflow hidden
  transition opacity $content-show-transition-time linear,
             max-height 0s linear $content-show-transition-time,
             overflow 0s linear $content-show-transition-time
  &.show
    opacity 1
    z-index 1
    overflow initial
    max-height 10000px
    transition opacity $content-show-transition-time linear,
               max-height 0s linear,
               overflow 0s linear
.page
  relative false
  box-sizing border-box
  p
    text-align left

.blink.show
  animation blink $content-blink-animation-time linear forwards

@keyframes blink
  0%
    opacity 0
  20%
    opacity .6
  40%
    opacity .2
  60%
    opacity .8
  80%
    opacity .4
  100%
    opacity 1