@import "../variables.styl"

/* Apps styles */
#apps
  .page-content
    padding 71px 0 69px
  .left-side
    width 320px
    display inline-block
    vertical-align top
    margin-right 38px
  .header
    font-size 60px
    font-weight 700
    color $white
    margin 0 72px 88px 0
    letter-spacing 4px
  .text
    margin-bottom 30px
    font-size 16px
    font-weight 300
    line-height 30px
    color $white-50
    letter-spacing 0.5px
  
  .link
    text-decoration none
    color $turquoise
    border-bottom 1px solid $turquoise-50
    transition border-color $transition-time linear
    &:hover
      border-color $turquoise
    
  .illustration
    relative false
    display inline-block
    vertical-align top
    size 483px
    margin-top 53px
    retina-image('~images/pages/apps.png', 100% auto, "@2x")
    background-size 100% auto
    background-position 50% 50%
    background-repeat no-repeat
    
  .left-capture
  .center-capture
  .right-capture
    absolute false
    font-size 12px
    font-weight 300
    text-align center
    letter-spacing 0.5px
  .left-capture
  .right-capture
    top 40px
    width 30%
  .left-capture
    left 0
  .right-capture
    right 0
  .center-capture
    top 0
    width 44%
    left 0
    right 0
    margin auto