@import "../variables.styl"

/* Apps styles */
#apps
  .page-content
    padding 71px 0 44px
  .left-side
    width 420px
    display inline-block
    vertical-align top
    margin-right 58px
  .header
    font-size 60px
    font-weight bold
    color #fff
    margin 0 70px 89px 0
  .text
    margin-bottom 30px
    font-size 18px
    font-weight 100
    line-height 30px
    color rgba(255, 255, 255, 0.2)
  
  .link
    text-decoration none
    color rgba(23, 229, 178, 1)
    border-bottom 1px solid rgba(23, 229, 178, 0.2)
    
  .illustration
    relative false
    display inline-block
    vertical-align top
    size 482px 490px
    margin-top 47px
    background-image url('~images/apps.png')
    background-size 482px 440px
    background-position 50% 50%
    background-repeat no-repeat
    
  .exchange
  .messenger
  .wallet
    absolute false
    font-size 12px
    font-weight 100
    text-align center
  .exchange
  .wallet
    top 40px
    width 28%
  .exchange
    left 0
  .wallet
    right 0
  .messenger
    top 0
    width 44%
    left 0
    right 0
    margin auto