@import "../variables.styl"

/* Contacts styles */
#contacts
  .page-content
    padding 71px 0 30px
  .header
    font-size 60px
    font-weight bold
    color $contacts-header-color
    margin-bottom 48px
    
  form
    display inline-block
    vertical-align top
    margin-bottom 30px
  
    &.message
      width 360px
      margin-right 59px
    &.subscribe
      width 420px
      border 1px solid $contacts-button-border-color
  .form-content-wrap
    relative false
    padding 30px 30px 21px
  .input-wrap
    size 100% 60px
    relative false
    box-sizing border-box
    border 1px solid $contacts-input-border-color
    .point
      background-color $contacts-input-point-color
    
  input
  textarea
    font-size 18px
    font-weight 100
    padding 23px 27px
    box-sizing border-box
    outline none
    background-color transparent
    color $contacts-input-color
    letter-spacing 1.3px
    +placeholder()
      color $contacts-input-placeholder-color
  input
    size 100% 60px
    border 0px none
  textarea
    size 100% 180px
    border-top 0 none
    border-bottom 0 none
    resize none
    border-left 1px solid $contacts-input-border-color
    border-right 1px solid $contacts-input-border-color
    
  button
    relative false
    size 100% 60px
    padding-left 27px
    box-sizing border-box
    margin-top -2px
    outline none
    font-size 18px
    font-weight 600
    letter-spacing 3px
    color $contacts-button-color
    text-align left
    text-transform uppercase
    background-color transparent
    border 1px solid $contacts-button-border-color
    cursor pointer
    &.subscribe
      border-left 0 none
      border-right 0 none
      border-bottom 0 none
    
  h2
    font-size 30px
    font-weight bold
    margin-bottom 29px
    
  .text
    padding-right 40px
    font-size 12px
    font-weight 100
    line-height 17px
    letter-spacing 0.5px
    margin-top 20px
    

  .socials
    margin 37.5px 0 75px 31px
    .wrap
      relative false
      display block
      size 42px
      margin-left 7px
      border 1px solid $contacts-button-border-color
      transform rotate(45deg);
      transform-origin 50% 50%
      transition background-color 0.2s linear
      &:after
        content ''
        size 59px 1px
        margin auto
        absolute -86px false 0 35px
        transform rotate(-45deg);
        background-color $contacts-button-border-color
      &:hover
        background-color $contacts-button-border-color
    .social
      relative false
      size 57px 43px
      margin-right 63px
      display inline-block
      vertical-align middle
      fill #fff
      svg
        absolute 0
        margin auto
        size 49%
    .nodio
      font-size 16px
      font-weight 300
      margin-left 18px
      display inline-block
      vertical-align middle
  .links
    text-align center