@import "../variables.styl"

/* Contacts styles */
#contacts
  .page-content
    padding 71px 0 30px
  .header
    font-size 60px
    font-weight bold
    color #fff
    margin-bottom 48px
    
  form
    display inline-block
    vertical-align top
    margin-bottom 30px
  
    &.message
      width 360px
      margin-right 59px
    &.subscribe
      width 480px
      border 1px solid rgba(23, 229, 178, 0.2)
  .form-content-wrap
    relative false
    padding 30px
  .input-wrap
    size 100% 60px
    relative false
    box-sizing border-box
    border 1px solid rgba(255, 255, 255, 0.2)
    .point
      background-color #fff
    
  input
  textarea
    font-size 18px
    font-weight 100
    padding 23px 29px
    box-sizing border-box
    outline none
    background-color transparent
    color #fff
    +placeholder()
      color rgba(255, 255, 255, 0.2)
  input
    size 100% 60px
    border 0px none
  textarea
    size 100% 180px
    border-top 0 none
    border-bottom 0 none
    resize none
    border-left 1px solid rgba(255, 255, 255, 0.2)
    border-right 1px solid rgba(255, 255, 255, 0.2)
    
  button
    relative false
    size 100% 60px
    box-sizing border-box
    margin-top -2px
    outline none
    font-size 18px
    font-weight 600
    letter-spacing 2px
    color rgba(23, 229, 178, 1)
    text-transform uppercase
    background-color transparent
    border 1px solid rgba(23, 229, 178, 0.2)
    cursor pointer
    
  h2
    font-size 30px
    font-weight bold
    color #fff
    margin-bottom 29px
    
  .text
    font-size 12px
    font-weight 100
    line-height 17px
    letter-spacing 0.5px
    margin-top 28px
    

  .socials
    margin 37.5px 0 75px 31px
    .wrap
      relative false
      display block
      size 42px
      margin-left 7px
      border 1px solid rgba(23, 229, 178, 0.2)
      transform rotate(45deg);
      transform-origin 50% 50%
      &:after
        content ''
        size 59px 1px
        margin auto
        absolute -86px false 0 35px
        transform rotate(-45deg);
        background-color rgba(23, 229, 178, 0.2)
    .social
      relative false
      size 57px 43px
      margin-right 63px
      display inline-block
      vertical-align middle
      background-position 50% 50%
      background-repeat no-repeat
      &.facebook
        background-image url('~images/socials/facebook.png')
      &.twitter
        background-image url('~images/socials/twitter.png')
      &.slack
        background-image url('~images/socials/slack.png')
      &.reddit
        background-image url('~images/socials/reddit.png')
      &.github
        background-image url('~images/socials/github.png')
      &.btt
        background-image url('~images/socials/btt.png')
    .nodio
      font-size 18px
      font-weight 300
      margin-left 18px
      display inline-block
      vertical-align middle
  .links
    text-align center