@import "../variables.styl"

/* Contacts styles */
#contacts
  // .page-wrap
  //   padding 71px 0 55px
          
  .page-header
    padding 71px 0 78px
  .header
    font-size 60px
    font-weight 700
    color $contacts-header-color
    letter-spacing 4px
    
  form
    display inline-block
    vertical-align top
    margin-bottom 31px
  
    &.message
      size 361px 299px
      margin-right 59px
    &.subscribe
      size 421px 299px
  .form-content-wrap
    relative false
    padding 30px 30px 19px
    border 1px solid $contacts-button-border-color
    border-bottom 0 none
    
  .input-wrap
    size 100% 61px
    relative false
    box-sizing border-box
    .point
      background-color $contacts-input-point-color
      &.top
        top 0
      &.left
        left 0
      &.right
        right 0
      &.bottom
        bottom 0
    
  input
  textarea
    font-size 18px
    font-weight 300
    padding 18px 27px
    box-sizing border-box
    outline none
    background-color transparent
    color $contacts-input-color
    letter-spacing 1px
    border 1px solid $contacts-input-border-color
    transition border-color 0.2s linear
    +placeholder()
      color $contacts-input-placeholder-color
      opacity 1 !important
    &:hover
    &:focus
      border-color $white
    
      
  input
    size 100% 61px
  textarea
    display block
    size 100% 180px
    margin -1px 0 0
    border-top 0 none
    border-bottom 0 none
    resize none
    border-top 1px solid transparent
    border-bottom 1px solid transparent
    
  button
    relative false
    size 100% 61px
    box-sizing border-box
    padding 0 0 0 27px
    outline none
    font-size 18px
    font-weight 600
    letter-spacing 3px
    color $contacts-button-color
    text-align left
    text-transform uppercase
    background-color transparent
    border 1px solid $contacts-button-border-color
    transition border-color 0.2s linear
    cursor pointer
    &:hover
      border-color $contacts-button-color
    
  h2
    font-size 30px
    font-weight 700
    margin-bottom 29px
    
  .text
    padding-right 20px
    font-size 12px
    font-weight 300
    line-height 17px
    letter-spacing 0.5px
    margin-top 19px
    
  .page-footer
    padding-bottom 27px

  .socials
    font-size 0
    .social
      relative false
      display inline-block
      vertical-align middle
      size 61px
      margin 0 59px 0 0
      fill $turquoise-20
      transition fill 0.2s linear,
                 background-color 0.2s linear
      &:after
        content ''
        size 59px 1px
        margin auto
        absolute 0 false 0 61px
        background-color $contacts-button-border-color
      &:hover
        fill $turquoise
      &:last-of-type:before
        content ''
        size 1px
        margin auto
        absolute 0 false 0 120px
        background-color $turquoise
      svg
        &.social-logo
          absolute 0
          z-index 1
          margin auto
          size 40%
          fill $white
          stroke transparent
        &.social-border
          absolute 0 false 0 0
          z-index 0
          size 120px 61px
    .nodio
      font-size 16px
      font-weight 300
      margin-left 8px
      display inline-block
      vertical-align middle
  .links
    margin-top 38px
    padding 10px 0 20px 5px
    text-align center
    

$start = 720px
$step = 60px
for $i in 0..30
  $height = $start + $i * $step
  $before = floor($i / 2) * $step
  $after = floor(($i + 1) / 2) * $step
  +media-query(only screen, min-height $height)
    #contacts .page-content
      &:before
        height $before
      &:after
        height $after