@import "../variables.styl"

/* Product router styles */
#product-router
  .illustrations
    size 520px 280px
    .illustration
      retina-image('~images/pages/product-router.png', 661px 441px, "@2x")
  h1
    absolute 450px false false 0
    transition opacity $product-title-transition-time linear
  .texts
    text-align left
    opacity 0
    max-width 555px
    absolute 477px false false 410px
  .texts
    opacity 0
  &.show
    h1
    .illustrations
      opacity 1
      .illustration
        opacity 1
    .texts
      opacity 1
      transition opacity $product-text-opacity-time linear $product-text-delay
