@import "../variables.styl"

/* Product styles */
#product
  h1
    absolute 312px false false 0
    transition opacity $product-title-transition-time linear
  .illustrations
    size 713px 634px
    transform scale(0.8)
    transition opacity $product-illustrations-opacity-time linear $product-illustrations-delay
    // &.show
    //   opacity 1
    //   transform scale(0.8)
    // &.full
    //   transform scale(1)
      
    .illustration
      transition opacity $product-illustration-1-opacity-time linear $product-illustration-1-delay
      &.show
        opacity 1
      &.slide-1
        retina-image('~images/pages/product-1.png', 641px 622px, "@2x")
        transition opacity 0.2s linear
      &.slide-2
        retina-image('~images/pages/product-2.png', 1004px 1006px, "@2x")
        transition opacity 0.2s linear
      &.slide-3
        retina-image('~images/pages/product-3.png', 1004px 1006px, "@2x")
        transition opacity 0.2s linear
  .texts
    opacity 0
    absolute 430px 0 false
  .subtitle
    font-size 24px
    font-weight 300
    line-height 28px
    margin-bottom 20px
    text-align center
  .text
    text-align center
    
    // &.show
    //   opacity 1
  &.slide-1
  &.slide-2
  &.slide-3
    .illustrations
      opacity 1
  &.slide-1
  &.slide-2
    h1
      opacity 1
  &.slide-1
    .slide-1
      opacity 1
  &.slide-2
    // .slide-1
    // .slide-2
    //   transition opacity $product-illustration-1-opacity-time linear
    .slide-2
      opacity 1
  &.slide-3
    h1
    .illustrations
      transform scale(1)
      transition transform $product-illustrations-transform-time linear $product-text-delay,
                 opacity $product-illustrations-opacity-time linear $product-illustrations-delay
      .slide-2
      .slide-3
        transition opacity $product-illustration-2-opacity-time linear $product-text-delay
      .slide-3
        opacity 1
    .texts
      opacity 1
      transition opacity $product-text-opacity-time linear $product-text-delay