@import "../variables.styl"

/* Products common styles */
.product
  .page-header
    relative false
    height 150px
    margin 60px 0 -18px
    .number
      absolute -3px false false -4px
      z-index -1
      font-size 200px
      line-height 150px
      font-weight 700
      color rgba(23, 229, 178, 0.1)
      letter-spacing 15px
      opacity 0
    
  .page-content
    relative false
    min-height 330px
    padding-bottom 5px
    
  .illustrations
    size 901px
    absolute -1px 0 0 -31px
    z-index -1
    margin auto
    transform-origin 50% 50%
    overflow hidden
  .illustration
    absolute 50% false false 50%
    transform translate(-50%, -50%)
    transform-origin 50% 50%
    margin auto
    size 901px
    background-position 50% 50%
    background-size 100% auto
    background-repeat no-repeat
    opacity 0
    
  .title
  .text
    display inline-block
    vertical-align middle
    opacity 0
    color $white
  .title
    width 390px
    text-align left
    font-size 38px
    font-weight 300
    .bold
      font-size 66px
      font-weight 700
      line-height 68px
  // .texts
  //   text-align right

  .dot
    display inline-block
    size 9px
    margin 0 0 2px 6px
    background-color $common-dot-background-color
    transform rotate(45deg)
    
  .text
    width 450px
    text-align left
    font-size 14px
    font-weight 300
    line-height 30px
    letter-spacing 0.5px