@import "../variables.styl"

/* Product design styles */
#product-design
  .illustrations
    .illustration
      &.device
        retina-image('~images/pages/product-design.png', 100% auto, "@2x")
      &.phone
        retina-image('~images/pages/product-design-phone.png', 100% auto, "@2x")
      &.border
        retina-image('~images/pages/product-design-border.png', 100% auto, "@2x")
  .next-link
    margin-top 19px
  &.show
    .number
      animation fade-in 0.5s linear forwards
    .illustrations
      opacity 1
      .illustration
        &.device
          animation slide-down-centered 1s linear 0.3s forwards
        &.phone
          animation fade-in 0.5s linear 2.3s forwards
        &.border
          animation blink $content-blink-animation-time linear 2.8s forwards
    .title
      animation fade-in 0.5s linear 1.3s forwards
    .text
      animation fade-in 0.5s linear 1.8s forwards
    .next-link
      animation fade-in 1s linear 3.8s forwards
      
$start = 720px
$step = 60px
$delta = 390px
for $i in 0..30
  $height = $start + $i * $step
  $before = $height - $delta
  +media-query(only screen, min-height $height)
    #product-design .page-content
      &:before
        height $before