@import "../variables.styl"

/* Product styles */
#product
  overflow visible
  .page-content
    relative false
    min-height 660px
    padding-bottom 5px
  .title
    height 110px
    absolute 50px 0 0
    z-index 1
    margin auto 0
    .bold
      font-size 75px
  .illustrations
    left -1px
    z-index 0
    size 700px 760px
    opacity 0
    overflow visible
    transition opacity 1.5s linear 2s
      
    .illustration
      overflow hidden
      size 100%
      // transition opacity $product-illustration-1-opacity-time linear $product-illustration-1-delay
      &.show
        opacity 1
      &.hover-1
        max-height 0
      &.image-1
      &.hover-1
        retina-image('~images/pages/product-1.png', 100% auto, "@2x")
      &.image-2
        retina-image('~images/pages/product-2.png', 100% auto, "@2x")
      &.image-3
        transform-origin 50% 50%
        retina-image('~images/pages/product-3.png', 100% auto, "@2x")
  .texts
    opacity 0
    absolute 415px 0 0
    margin auto
    display table
  .subtitle
    font-size 26px
    font-weight 300
    line-height 42px
    letter-spacing 1px
    margin-bottom 10px
    text-align center
  .text
    width 100%
    font-size 16px
    text-align center
  .next-link
    animation fade-in 0.2s linear reverse forwards

  &.slide-1
  &.slide-2
    .illustrations
      opacity 1
  &.slide-1
    .title
      opacity 1
      transition opacity 1s linear 0.5s
    .illustrations 
      .image-1
        opacity 1
        transition opacity 1.5s linear 1s
      .hover-1
        max-height 901px
        transition opacity 0.5s linear,
                   max-height 0s linear 2.5s
        &.hover
          cursor pointer
          &:hover
            opacity 1
      .image-2
      .image-3
        opacity 0
        transition opacity 0s linear
        transform translate3d(-50%, -50%, 0) scale(1)
    .next-link
      animation fade-in 1s linear 3s forwards
      
  &.slide-2
    .title
      opacity 0
      transition opacity 1s linear
    .illustrations
      .image-1
        opacity 0
        transition opacity 1s linear
      .image-2
      .image-3
        height 660px
        opacity 1
        transform translate3d(-50%, -50%, 0) scale(1.434)
      .image-2
        transition transform 0.5s linear 1s,
                   opacity 0.5s linear,
                   height 0.5s linear 1s
      .image-3
        transition transform 0.5s linear 1s,
                   opacity 0.5s linear 1s,
                   height 0.5s linear 1s
    .texts
    .text
      opacity 1
      transition opacity 1s linear 1s
    .next-link
      animation fade-in 0.2s linear reverse forwards,
                fade-in 1s linear 2s forwards
    
$start = 720px
$step = 60px
for $i in 0..30
  $height = $start + $i * $step
  $before = $height - $step
  +media-query(only screen, min-height $height)
    #product .page-content
      &:before
        height $before