@import "../variables.styl"

/* Product styles */
#product-tech
  .page-header
    margin-bottom -96px
  .page-content
    padding-bottom 21px
    font-size 0
  .illustrations
    left 6px
    position relative
    size 413px 498px
    display inline-block
    vertical-align top
    .illustration
      size 100%
      &.device
        z-index 1
        retina-image('~images/pages/product-tech.png', 100% auto, "@2x")
      &.border
        z-index 0
        retina-image('~images/pages/product-tech-border.png', 100% auto, "@2x")
  
  .right-side
    width 390px
    display inline-block
    vertical-align top
    margin 12px 0 0 38px
  .title
    margin-bottom 60px
  .text
    width 100%
  .links
    text-align left
    margin-top 81px
  .delimiter
    margin 0 39px
  &.show
    .illustrations .illustration.border
      animation-delay 2.3s
      
$start = 720px
$step = 61px
for $i in 0..30
  $height = $start + $i * $step
  $before = floor(($i + 1) / 2) * $step
  $after = floor($i / 2) * $step
  
  +media-query(only screen, min-height $height)
    #product-tech .page-content
      &:before
        height $before
      &:after
        height $after