@import "../variables.styl"

/* Product styles */
#product-tech
  .page-header
    margin-bottom -96px
  .page-content
    padding 30px 0 0
    margin-bottom -23px
    font-size 0
  .illustrations
    width 421px
    display inline-block
    vertical-align top
    overflow visible
  .right-side
    width 320px
    display inline-block
    vertical-align top
    margin 12px 0 0 38px
  .title
    margin-bottom 60px
    font-size 66px
  .text
    width 100%
  .links
    margin-top 81px
    text-align left
  .delimiter
    margin 0 39px
  &.show
    .illustrations .illustration.border
      animation-delay 2.3s
  .page-footer
    height 25px
    margin-top 0
    
+media-query(only screen, max-width 1080px)
  #product-tech
    .page-footer
      height 65px
+media-query(only screen, max-width $mobileWidth)
  #product-tech
    .illustrations
      width 28%   
      // width 34vmin
      width 43vmin
      margin auto
      display block
    .right-side
      width 100%
      display block
      margin 0 auto
    .links
      margin-top 31px
      text-align center
      
// $start = 720px
// $step = 61px
// for $i in 0..30
//   $height = $start + $i * $step
//   $before = floor(($i + 1) / 2) * $step
//   $after = floor($i / 2) * $step
  
//   +media-query(only screen, min-height $height)
//     #product-tech .page-content
//       &:before
//         height $before
//       &:after
//         height $after