@import "../variables.styl"

/* Product open styles */
#product-open
  .illustrations
    .illustration
      &.device
        retina-image('~images/pages/product-open.png', 100% auto, "@2x")
      &.border
        retina-image('~images/pages/product-open-border.png', 100% auto, "@2x")
  .next-link
    margin-top 19px
  &.show
    .number
      animation slide-right 0.5s linear forwards
    .illustrations
      opacity 1
      .illustration
        &.device
          animation scale-in-centered 0.7s linear 0.5s forwards
        &.border
          animation blink $content-blink-animation-time linear 1s forwards
    .title
      animation slide-left 0.5s linear 2.5s forwards
    .text
      animation slide-right 0.5s linear 3s forwards
    .next-link
      animation fade-in 1s linear 3.5s forwards
      
$start = 720px
$step = 60px
$delta = 390px
for $i in 0..30
  $height = $start + $i * $step
  $before = $height - $delta
  +media-query(only screen, min-height $height)
    #product-open .page-content
      &:before
        height $before