@import "../variables.styl"

/* Product styles */
#product-tech
  .page-header
    margin-bottom -96px
  .page-content
    padding-bottom 51px
    font-size 0
  .illustrations
    left 6px
    position relative
    size 413px 484px
    display inline-block
    vertical-align top
    .illustration
      size 100%
      &.device
        z-index 1
        retina-image('~images/pages/product-tech.png', 100% auto, "@2x")
      &.border
        z-index 0
        retina-image('~images/pages/product-tech-border.png', 100% auto, "@2x")
  
  .right-side
    width 390px
    display inline-block
    vertical-align top
    margin 12px 0 0 38px
  .title
    margin-bottom 60px
    transition opacity $product-title-transition-time linear
  .links
    text-align left
    margin-top 83px
  .delimiter
    margin 0 39px
  &.show
    .number
      animation fade-in 0.5s linear forwards
    .illustrations
      opacity 1
      .illustration
        &.device
          animation slide-down-centered 1.5s linear 0.3s forwards
        &.border
          animation blink $content-blink-animation-time linear 1.7s forwards
    .title
      animation fade-in 0.5s linear 1.3s forwards
    .text
      animation fade-in 0.5s linear 1.5s forwards
    .next-link
      animation fade-in 1s linear 2.7s forwards
      
$start = 720px
$step = 60px
for $i in 0..30
  $height = $start + $i * $step
  $before = floor(($i + 1) / 2) * $step
  $after = floor($i / 2) * $step
  
  +media-query(only screen, min-height $height)
    #product-tech .page-content
      &:before
        height $before
      &:after
        height $after