@import "../variables.styl"

/* Team styles */
#team
  .page-content
    padding 68px 0 46px
  .header
  .text-right
    display inline-block
    vertical-align middle
  .header
    font-size 60px
    font-weight 700
    color $white
    margin 0 63px 8px 0
    letter-spacing 4px
    
  .text-right
    width 458px
    font-size 12px
    font-weight 300
    line-height 24px
    letter-spacing 0.75px
    color $white-50
  
  .persons
    margin 70px 0 0
  
  .person
    relative false
    display inline-block
    vertical-align top
    size 178px 59px
    margin 0 61px 61px 0
    border-left 1px solid $white-20
    transition border-color $transition-time linear
    cursor pointer
    &:nth-of-type(4n)
      width 120px
      margin-right 0
    &:hover
      border-color $white
      
    &.empty
      border 0 none
    .data
      padding 8px 0 8px 8px
      color $white
      .name
        font-size 21px
        font-weight 700
        margin-bottom 6px
        letter-spacing 1px
      .position
        font-size 14px
        font-weight 300
        letter-spacing 0.75px
        
    .point
      background-color $white
      transition background-color $transition-time linear
    