@import "../variables.styl"

/* Xana styles */
#xana
  .page-content
    padding 71px 0 46px
  .header
  .text-right
    display inline-block
    vertical-align middle
  .header
    font-size 60px
    font-weight bold
    color #fff
    margin-right 70px
  .text-right
    width 730px
    font-size 14px
    font-weight 100
    line-height 17px
    color rgba(255, 255, 255, 0.2)
  .subheader
    margin 62px 0 54px
    font-size 18px
    font-weight 100
    .bold
      font-weight bold
  .feature
    display inline-block
    vertical-align top
    width 300px
    margin 0 60px 60px 0
    .title
      margin-bottom 13px
      font-size 30px
      font-weight bold
      text-align center
    .text
      padding 0 5px
      font-size 14px
      font-weight 100
      line-height 23px
      letter-spacing 0.5px
      color rgba(255, 255, 255, 0.2)
      text-align justify
      -moz-text-align-last center
      text-align-last center
    &.illustration
      height 158px
      background-image url('~images/xana.png')
      background-size 261px 141px
      background-position 50% 50%
      background-repeat no-repeat