@import "../variables.styl"

/* Xana styles */
#xana
  .page-content
    padding 73px 0 46px
  .header
  .text-right
    display inline-block
    vertical-align middle
  .header
    height 50px
    fill $white
    margin-right 70px
  .text-right
    width 730px
    font-size 14px
    font-weight 100
    line-height 17px
    letter-spacing 1px
    color $white-50
  .subheader
    margin 62px 0 54px
    font-size 18px
    font-weight 100
    .bold
      font-weight bold
  .feature
    display inline-block
    vertical-align top
    width 300px
    margin 0 60px 60px 0
    .title
      margin-bottom 13px
      font-size 30px
      font-weight bold
      text-align center
    .text
      padding 0 5px
      font-size 14px
      font-weight 100
      line-height 23px
      letter-spacing 0.5px
      color $white-50
      text-align justify
      -moz-text-align-last center
      text-align-last center
    &.illustration
      relative false
      height 152px
      .illustration
        absolute 50% false false 50%
        margin auto
        size 420px 211px
        retina-image('~images/pages/xana.png', 420px 211px, "@2x")
        background-position 50% 50%
        background-repeat no-repeat
        transform translate(-50%, -50%)