@import "../variables.styl"

/* Xana styles */
#xana
  .page-content
    padding 68px 0 75px
  .header
  .text-right
    display inline-block
    vertical-align middle
  .header
    size 255px 45px
    fill $white
    margin-right 45px
  .text-right
    width 540px
    font-size 12px
    font-weight 300
    line-height 24px
    letter-spacing 0.75px
    color $white-50
  .subheader
    margin 54px 0
    font-size 18px
    font-weight 300
    letter-spacing 1px
    .bold
      font-weight bold
  .features
    font-size 0
  .feature
    display inline-block
    vertical-align top
    width 241px
    margin 0 59px 28px 0
    &:nth-of-type(3n)
      margin-right 0
    .title
      margin-bottom 8px
      font-size 30px
      font-weight 700
      text-align center
    .text
      font-size 12px
      font-weight 300
      line-height 24px
      letter-spacing 0.25px
      color $white-50
      text-align justify
      -moz-text-align-last center
      text-align-last center
    &.illustration
      relative false
      height 96px
      .illustration
        absolute 50% false false 50%
        transform translate(-50%, -50%)
        margin-left: -1px;
        size 421px 211px
        retina-image('~images/pages/xana.png', 100% auto, "@2x")
        background-size 100% auto
        background-position 50% 50%
        background-repeat no-repeat