doctype html
html
  head
    meta(charset='UTF-8')
    title Nodio
  body
    include /images/svg-sprite.jade
    header
      dl.progress
        dt.progress.print Visitor info
        dd.progress.print
      dl.location
        dt.location.print Location
        dd.location.print
      dl.provider
        dt.provider.print Provider
        dd.provider.print
      dl.global_ip
        dt.global_ip.print Global ip
        dd.global_ip.print
      dl.local_ip
        dt.local_ip.print Local ip
        dd.local_ip.print
      dl.device
        dt.device.print Device
        dd.device.print
      dl.os
        dt.os.print OS
        dd.os.print
      dl.browser
        dt.browser.print Browser
        dd.browser.print
      dl.name
        dt.name.print Name
        dd.name.print

    .content
      .logo
        include /images/logo.jade
      .square
    
    footer
      p.print Use audio for the best expirience
    script(src="build.js")  