doctype html
html
  head
    include pug/head.pug
  body.preloader-mode
    audio(
      loop,
      autoplay,
      preload="auto",
    )
      source src="media/background.mp3" type="audio/mpeg"
    include pug/header.pug
    .content
      .background
        .line.top
        .line.bottom
      video#video(preload="none")
      include pug/sidebar.pug
      include pug/preloader.pug
      include pug/product.pug
      include pug/apps.pug
      include pug/team.pug
      include pug/contacts.pug
    include pug/footer.pug