doctype html
html
  head
    meta(charset='UTF-8')
    title Nodio
  body
    header
      dl.progress
        dt.progress Visitor info
        dd.progress
      dl.location
        dt.location Location
        dd.location
      dl.provider
        dt.provider Provider
        dd.provider
      dl.global_ip
        dt.global_ip Global ip
        dd.global_ip
      dl.local_ip
        dt.local_ip Local ip
        dd.local_ip
      dl.device
        dt.device Device
        dd.device
      dl.os
        dt.os OS
        dd.os
      dl.browser
        dt.browser Browser
        dd.browser
      dl.name
        dt.name Name
        dd.name

    .content
    
    footer
      p Use audio for 
      | the best expirience
    script(src="build.js")